.nav_dimension {
  height: 62px !important;
  max-width: 1558px !important;
  /* min-width: 450px; */
  margin-left: auto;
  margin-right: auto;
  /* border:2px solid black; */

  /* padding-left: 10px;
  padding-right: 10px; */
}

/* .position {
  position: fixed !important;
  max-width: 1558px !important;
} */
/* .nav_dimension {
  position: fixed !important;
  top: 10px;

  border: 2px solid black;
  z-index: 20 !important;
} */

.text-color {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.6rem;
  font-weight: 600 !important;
}
.hover:hover {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  color: blue;
  padding: 5px;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.137);
  animation: 1s ease-in-out;
}
.hover {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px !important;
  font-family: 'Montserrat-MediumItalic', sans-serif;
  text-transform: initial;
}

.nav_color {
  background-color: white !important;
}
/* .height{
    padding-top:-4px;
    padding-bottom:-4px;
  }
   */

.img1 {
  /* margin-left:25px !important; */
  width: 39px;
  height: 44px;
  opacity: 1;
  /* padding-left:10px; */
}
.img2 {
  padding-left: 5px;
  height: 23px;
  width: 144px;
  padding-top: 5px;
}
