.home_1 {
  height: 60vh;
  background-color: ivory;
}
.width1 {
  padding-bottom: 10px;
}

.before_icon::before {
  content: '';
  background-image: url('../asset/next\ button\ .png') !important;
  width: 20px;
  height: 20px;
}

.star {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* border: 2px solid black; */
}
.star p {
  font-size: 23px;
  color: black;
  font-weight: 700;
}
.star1 {
  padding-left: 80px;
  text-align: center;
}
