.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.important_background {
  background-image: url('./asset/important_background.png') !important;
  background-position: center !important;
  background-size: contain !important;
  z-index: 2;
  max-width: 1558px;
  margin-left: auto;
  margin-right: auto;
}

.important_background1 {
  background-image: url('./asset/DesignSheets\ -\ Home\ –\ 1.png') !important;
  background-position: center !important;
  background-size: contain !important;
  z-index: 3;
  max-width: 1558px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-next-icon {
  background-image: url('./asset/next\ button\ .png') !important;
}
.carousel-control-prev-icon {
  background-image: url('./asset/next\ button\ other\ .png') !important;
}
/* review */
